<a href="https://colab.research.google.com/github/mikecinnamon/DataSci/blob/main/Notebooks/%5BUM-011%5D%20NumPy%20and%20Matplotlib.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# [UM-011] NumPy and Matplotlib

## NumPy arrays

In [ ]:
import numpy as np

In [ ]:
arr1 = np.array(range(10))
arr1

In [ ]:
np.array([2, 'a', True])

In [ ]:
np.array([2, True])

In [ ]:
np.array([2, 3.2])

In [ ]:
arr2 = np.array([[0, 7, 2, 3], [3, 9, -5, 1]])
arr2

In [ ]:
arr1.shape

In [ ]:
arr2.shape

In [ ]:
arr1[2]

In [ ]:
arr2[1, 2]

## NumPy functions

In [ ]:
np.sqrt(arr1)

In [ ]:
def f(t):
    return 1/(1 + np.exp(t))
f(arr2)

## Subsetting arrays

In [ ]:
arr1[:3]

In [ ]:
arr2[:1, 1:]

In [ ]:
arr1 > 3

In [ ]:
arr2 > 2

In [ ]:
arr1[arr1 > 3]

In [ ]:
## An example

In [ ]:
height = [1.65, 1.73, 1.51, 1.63, 1.69, 1.7, 1.81, 1.66, 1.58, 1.66,
    1.62, 1.81, 1.75, 1.65, 1.65]
weight = [61.6, 59.5, 46.5, 75.3, 47.6, 80.2, 67.5, 64.1, 69.5, 57.0,
    68.6, 69.3, 53.2, 66.1, 50.6]
gender = ['M', 'M', 'F', 'F', 'M', 'F', 'M', 'F', 'F', 'M', 'F', 'M',
    'F', 'M', 'M']

In [ ]:
height = np.array(height)
weight = np.array(weight)
gender = np.array(gender)

In [ ]:
bmi = weight/height**2
bmi

In [ ]:
bmi.mean().round(1)

In [ ]:
bmi[gender == 'F'].mean().round(1)

In [ ]:
bmi[gender == 'M'].mean().round(1)

## Plotting with Matplotlib

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
t = np.linspace(0, 2, 100)

In [ ]:
plt.figure(figsize=(5,5))
plt.title('Figure 1. Three curves')
plt.plot(t, t, label='linear', color='black')
plt.plot(t, t**2, label='quadratic', color='black', linestyle='dashed')
plt.plot(t, t**3, label='cubic', color='black', linestyle='dotted')
plt.legend();